@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&display=swap');


.footer {
    font-size: 11px;
    text-align: center;
    color: #fff;
 }
.footer a {
    color: hsl(228, 45%, 44%); 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
main.card{
    display: grid;
    width: 1100px;
    grid-template-columns:2fr 1fr;
    color: #fff;
    font-family: 'Inter', sans-serif;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0.5rem;
    height: fit-content;
}
span.txt-color{
    color: hsl(277, 64%, 61%, 0.5);
}
.text-area{
    text-align: left;
    padding: 4rem;
}
h3{
    font-size: 1.6rem;
}
p.sub-tx{
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.6);
}
.title{
    font-size: 2.3rem;
}
p.text{
    padding-top: 2rem;
    text-align: left;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 4rem;
}
img.header{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    object-fit: cover;
    opacity: 0.5;
}
.img{
    background-color: hsl(277, 64%, 61%, 0.6);
    overflow: hidden;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.adding{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 350px;
}