@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&display=swap');

.attribution {
    font-size: 11px;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(233, 47%, 7%);
    display: grid;
    grid-template-areas: 'text image';
}
main.text{
    grid-area: text;
    color: hsl(0, 0%, 100%);
    background-color: hsl(244, 38%, 16%);
    width: 580px;
    padding: 4rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
main.image{
    grid-area: image;
    width: 540px;
    height: 446px;
    background: url(images/image-header-desktop.jpg) hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    padding-bottom: 1.5rem;
}
h2{
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 4rem;
}
.sub-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item{
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: hsla(0, 0%, 100%, 0.6);
}
.count{
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: none;
    color: hsl(0, 0%, 100%);;
}
.purple{
    color: hsl(277, 64%, 61%);
}
.sub-text{
    font-family: 'Lexend Deca', sans-serif;
}
@media(max-width:800px){
    body{
        display: grid;
        grid-template-areas:
        'image'
        'text';
    }
}
